@font-face {
    font-family: 'Inter-Regular';
    font-display: swap;
    src: local('Inter-Regular'),
        url('../fonts/Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter-Bold';
    font-display: swap;
    src: local('Inter-Bold'),
        url('../fonts/Inter-Bold.woff') format('woff');
}

html {
    box-sizing: border-box;
    background-color: #fff;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    min-width: 320px;
    font-family: 'Inter-Regular', sans-serif;
    line-height: normal;
    color: #333;
}

.phone-directory__container {
    margin: 0 auto;
    padding: 25px 15px;
    max-width: 100%;
}

.phone-directory__title {
    margin: 0;
    margin-bottom: 50px;
    font-family: 'Inter-Bold';
    font-size: 55px;
    text-align: center;
}

.phone-directory__subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Inter-Bold';
    font-size: 35px;
}

.phone-directory__form {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.phone-directory__input {
    width: calc((100% - 30px) / 4);
    padding: 10px 20px;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 18px;
}

.phone-directory__input:hover {
    border-color: #000;
}

.phone-directory__input::placeholder {
    color: #999;
}

.phone-directory__table {
    table-layout: fixed;
    width: 100%;
}

.phone-directory__header {
    background-color: #333;
}

.phone-directory__header th {
    padding: 8px;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.phone-directory__header th:hover {
    background-color: #999;
    transition: background-color .3s ease-in-out;
}

.phone-directory__office {
    cursor: pointer;
    font-family: 'Inter-Bold';
    font-size: 18px;
    transition: color .3s ease-in-out;
}

.phone-directory__office:hover {
    color: orangered;
    transition: color .3s ease-in-out;
}

.phone-directory__office td {
    padding: 16px 8px;
}

.phone-directory__data tr {
    background-color: #f6f6f6;
}

.phone-directory__data tr:nth-of-type(odd) {
    background-color: #e9e9e9;
}

.phone-directory__data td {
    padding: 8px;
    text-align: center;
}

.phone-number {
    position: relative;
    padding-left: 40px !important;
}

.phone-number::before {
    content: '';
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-image: url('https://img.danila-master.ru/uploads/articlesImages/action/classical-monuments/contacts/icon_tel_1.svg?v=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.phone-number.mob::before {
    background-image: url('https://img.danila-master.ru/uploads/articlesImages/action/classical-monuments/contacts/icon_tel.svg?v=1');
}

@media screen and (max-width: 1366px) {
    .phone-directory__input {
        width: calc((100% - 20px) / 3);
    }

    .phone-directory__header th {
        word-break: break-all;
    }
}